doctype html
html
	head
		link(rel="stylesheet" href="styles/main.min.css")
		//- script(src="https://code.jquery.com/jquery-3.3.1.js")
		//- script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		//- script(src="js/slider.js")
	body
		.container
			.back.side
				img(src="./images/1.jpg")
			.small-back__side1.small-img.small
				img(src="./images/11.png")
			.left.side
				img(src="./images/2.jpg")
			.small-left__side2.small-img.small
				img(src="./images/22.jpg")
			.right.side
				img(src="./images/3.jpg")
			.small-right__side3.small-img.small
				img(src="./images/33.png")
			.top.side
				img(src="./images/4.jpg")
			//- .small-top__side4.small-img.small
			//- 	img(src="./images/44.png")
			.bottom.side
				img(src="./images/5.jpg")
			//- .small-bottom__side5.small-img.small
			//- 	img(src="./images/55.png")
			.front.side
				img(src="./images/6.jpg")
			//- .small-front__side6.small-img.small
			//- 	img(src="./images/66.png")
